<!doctype html>
<html>
<head>
  <title>Select Playlist</title>
</head>
<body>
  <h1>Select a Playlist to Shuffle</h1>
  <form action="/randomize" method="post">
    {% for playlist in playlists %}
      <div>
        <input type="radio" name="playlist_id" value="{{ playlist.id }}" required>
        <img src="{{ playlist.images[0].url if playlist.images }}" width="60">
        {{ playlist.name }}
      </div>
    {% endfor %}
    <br>
    <button type="submit">Randomize</button>
  </form>
</body>
</html>
